
@media screen and (max-width:800px)

          {
   .lemon2{
       width: 100%;
       height: 100%;
       background-color: white; }
 
       
        
 
     .lemon2 .lemon2-navbar{
         width: 100%;   
         height: 14vh;
         display: flex;
         background-color: white;
         justify-content: space-around;
         align-items: center;
         
     }
 }
 

 .lemon2 .lemon2-navbar .logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: 2px solid gray;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    left: -20px;
    position: relative;
     }
     
     .lemon2 .lemon2-navbar .serch-bar{
         display: flex;
         right:px;
         top: 8px;
         
         position: relative;
     }   
     .lemon2 .lemon2-navbar .serch-bar .label img{
         position:relative;
         right: -67px;
     }
     
    .lemon2 .lemon2-navbar .input2{
           border: none; 
           outline: none;
           width: 120px;
           position: relative;
           right: -70px;
           
    }  
    .lemon2 .lemon2-navbar .input2::placeholder{
        font-size: 10px;
        

    }
    .lemon2 .lemon2-navbar .label img{
        width: 12px;

       
    }



    .lemon2 .lemon2-navbar .burger-menu .menu-btn{
            display: flex;
            align-items: center;
            position: absolute;
            
            top: 38px;
            right: 30px;
            
            width: 26px;
            height: 26px;
            cursor: pointer;
             z-index: 1; 
        }
        .menu-btn > span,
        .menu-btn > span::before,
        .menu-btn > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #616161;
          transition-duration: .25s;
        }
        .menu-btn > span::before {
          content: '';
          top: -8px;
        }
        .menu-btn > span::after {
          content: '';
          top: 8px;
        }
        .menubox{
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-color:rgb(194, 181, 181);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            transition-duration: .25s;
          }
          .menu-item {
            display: block;
            padding: 12px 24px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
          }
          .menu-item:hover {
            background-color: #CFD8DC;
          }
          #menu-toggle{
            opacity: 0;
          }
          #menu-toggle:checked ~ .menu-btn > span{
            transform: rotate(45deg);
          }
          #menu-toggle:checked ~ .menu-btn > span::before{
            top: 0;
            transform: rotate(0);
          }
          #menu-toggle:checked ~ .menu-btn > span::after{
            top: 0;
            transform: rotate(90deg);
          }
          #menu-toggle:checked ~ .menubox{
            visibility: visible;
            left: 0;
          }

   .lemon2-post{
    width: 100%;
    height: 50vh;
    
}
    .lemon2-post img{
        width: 100%;
        

    }
    .lemon2-post .post1 .img2{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        background-color: white;
    }
    .post2{
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    
    
    
    .post2 .conteiner3 img{
        width: 100%;
        height: 300px; }
       
    .post2 .conteiner .p{
        font-size: 40px;
        color: rgb(119, 7, 7);
        font-weight: 800;
    }    
    .post2 .conteiner .p2{
        font-family: 'Farsan', cursive;
        font-size: 30px; 
    }

        .post2 .conteiner .p3{
            font-family: 'Farsan', cursive;
            font-style: initial;
            font-size: 20px;
        }
            
            
        
        .post2 .conteiner2 .button{
            margin-bottom: 25px;
            margin-top: 25px;
            margin-left: -114px;
            border: none;
            

        }
        .lemon2-post .post3{
            width: 100%;
            height: 63vh;
            background-color: rgb(41, 40, 40);
            
            
            
            
        }

        .post3 .logo{
            position: relative;
            top: 50px;
            left: -50px;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            border: 2px solid white; 
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            color: white;       
        }
        .post3 .nav{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          line-height:33px;
          font-size:12px;
          position: relative;
          top: 5px;
          color: white;
          
          
        }
        .post3 .border{
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          padding: 35px;
          border-bottom:3px solid rgb(82, 79, 79) ;
          margin-left:65px;
          margin-right: 60px;
          margin-bottom: 20px;
          position: relative;
          
        }
        @media screen and (max-width:480px) {
          .lemon2{
            display: none;
          }
          
        }